name: Tests and Coverage

on:
  workflow_dispatch: null
  pull_request:
    branches:
      - main
jobs:
  tests-and-coverage:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      actions: read
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          uv sync --dev
      - name: Run tests
        run: |
          chmod +x scripts/tests.sh
          ./scripts/tests.sh
      - name: Comment coverage results on GitHub
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
